body {
	background-color: #cceeeb;
	margin: auto;
}
h1#header {
	border-bottom: 1px solid #a2a9b1;
	font-weight: normal;
	margin-top: 0px;
}
header {
	height: 70px;
	background-color: grey;
}
#hauptheader {
	border-bottom: 1px solid #a2a9b1;
	text-align: center;
}
div#panel {
	margin-left: 0px;
	background-color: #005f6a;
	position: absolute;
	top: 70px;
	width: 10em;

}
div#links {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0.25em;
}
.header_norm {
	font-weight: normal;
}
.box-header {
	text-align: center;
	font-weight: bold;
	padding: 0px 10px;
}
.header {
	border-bottom: 1px solid #a2a9b1;
	font-weight: normal;
	margin-top: 0px;
	overflow: hidden;
}
#content {
	padding: 1em;
	margin-top: -1px;
	margin-left: 10em;
	border: 1px solid #53292a;
	background-color: #fff;
	border-right-width: 0;
	margin-bottom: 10em;

}
#contents {
	display: table;
	padding: 7px;
	border: 1px solid grey;
	font-size: 95%;
	margin: 20px 0px;
	background-color: #f8f9fa;
}
#topbar {
	position: absolute;
	top: 0;
	margin-left: 10em;
	height: 5em;
	background-color: white;
	width: auto;
}
#label_selected {
	margin-top: 2.8em;
	padding: 0.5em;
	border: 1px solid #53292a;
	border-bottom: 0px;
	width: 5em;
}
ul.blank {
	list-style-type: none;
	list-style-image: none;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.contsnum {
	color: black;
}
div.infobox {
	clear: right;
	margin: 30px 30px 1em 1em;
	width: 300px;
	font-size: 90%;
	background: #fff;
	float: right;
	border: 1px solid #ccc;
	padding: 2px;
	overflow: auto;
}
div.infobox-header {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #a2a9b1;
}
div.infobox-img {
	text-align: center;
	margin-top: 4px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table.border, th.border, td.border {
	width: 30%;
	border: 1px solid grey;
}
.bordercen {
	border: 1px solid grey;
	text-align:center;
}
tr {
	border-top: 1px solid grey;
}
th {
	text-align: left;
}
th.table {
	border: 1px solid grey;
	text-align: center;
	background-color: #eaecf0;
}
th.subhead {
	border: 1px solid grey;
	background-color: #eaecf0;
}
td.table {
	border: 1px solid grey;
}
td.blocked {
	background-color: grey;
}
td.right {
	text-align:right;
}
.center {
	text-align:center;
}
html {
	font-family: times;
}
a {
	text-decoration: none;
	color: #0645ad;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #0b0080;
}
a.hidden {
	color: white;
}
a.hidden:hover{
	text-decoration: none;
}
a.hidden:visited {
	text-decoration: none;
	color: white;
}
a.hoverbox {
	color:initial;
	text-decoration: none;
}
a.hoverbox:hover {
	color:initial;
	text-decoration: none;
	cursor:pointer;
}
.klappenmenu {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.klappenmenu p:hover {
	background-color:lightgrey;
}
.klappezu {
	display: none;
	position: absolute;
	min-width:100px;
	background-color:whitesmoke;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}
.klappeauf {
	display: block;
	text-align: center;
}
.klappe {
  	cursor: pointer;
}
.container {
    display: flex;
	flex-direction: column;
	float:right;
    color: #202C39;
	height:50px;
}
#searchbar {
    padding: 15px;
    border-radius: 5px;
}
#results {
    border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: white;
    display: none;
	z-index: 1;
}
.resultItem {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px 20px;
    color: black;
}
a.resultItem:visited {
	color:black;
}
.resultItem:hover {
    background-color:#e6dede;
	text-decoration: none;
}
button.buttontext {
	background-color: white;
	border: none;
	font: inherit;
}
.buttontext:hover {
	cursor:pointer;
}
b.Überschrift {
	font-size: large;
}